<%# Head / Meta Data %>
<% title("Publish New NOTAM | Right Rudder Marketing Blog") %>
<% meta_description("Publish a new NOTAM on the Right Rudder Marketing Blog") %>
<% meta_keywords("aviation blog, flight school blog, aviation business blog, news about business aviation, flight school news") %>

<%= render "shared/navbar_nonsticky" %>

<div class="pt-10 lg:py-10 bg-slate-100">

  <%= render "form", notam: @notam %>

  <%#= link_to 'Back to notams', notams_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>

<%= render "shared/footer"%>