<%= turbo_frame_tag "frame4", class: "w-full" do %>
  <div class="mb-10">
    Thank you, <%= notice %>, for downloading our Google Business checklist!  You will receive an email shortly with a download link.
  </div>
<% end %>
