<%= turbo_frame_tag "frame4", class: "w-full" do %>
  <!--<h1 class="font-bold text-4xl">New keyword email</h1>-->

  <%= render "form", keyword_email: @keyword_email %>

  <%#= link_to 'Back to keyword emails', keyword_emails_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<%end%>
