<h1 style="font-size:14pt;font-family:Arial,sans-serif">You're going to be the #1 flight school in your area</h1>

<div style="font-size:12pt;font-family:Arial,sans-serif">
  <p>Hi <%= @name %>,</p>

  <p>We're excited to connect with you and introduce you to the Flight School Marketing System Checklist. This valuable resource is designed with expert insider industry marketing knowledge to optimize your flight school's online marketing and increase student pilot enrollments.</p>

  <p>
    🛫 <strong>Flight School Marketing System Checklist:</strong> <a href="https://drive.google.com/file/d/1rfnnXSZLPnibL-2aZ6vapJsvIOD36x1Z/view?usp=drive_link" target="_blank">Download Now</a>
  </p>

  <p>
    Our checklist has actionable steps that you take on your own today without any additional assistance. From attracting new students to building a robust online presence, you'll find a wealth of tips to optimize your marketing efforts.
  </p>

  <p>
    We'll reach out in a few moments to see how you're doing to see if you're interested in scheduling a growth accelerator session with Right Rudder.  This is where we'd go over what your digital marketing looks like today, what your competition is doing, and a strategy specifically tailored for your flight school business.  The session is absolutely risk free and at no cost.  Even flight schools that don't end up partnering with us find the session to be very beneficial.
  </p>

  <p>
    Looking forward to talking with you, <%= @name %>.
  </p>
</div>

<!--Sig-->
<div>
  <br style="color:rgb(34,34,34)">
  <br style="color:rgb(34,34,34)">
  <table border="0" cellspacing="0" cellpadding="0" style="color:rgb(34,34,34);border-collapse:collapse">
    <tbody>
      <tr>
        <td width="145" style="width:108.75pt;padding:0.75pt">
          &nbsp; &nbsp; &nbsp; &nbsp;
          <img width="80" height="96" src="/images/rightruddermarketinglogosolo.png" >
        </td>
        <td width="22" style="width:16.5pt;padding:0.75pt">
        </td>
        <td width="201" style="width:150.95pt;padding:0.75pt">
          <p class="" style="margin-bottom:7.5pt;line-height:10.5pt">
            <font color="#0b5394">
              <b>
                <span style="font-size:9pt;font-family:Arial,sans-serif">
                  Tim Jedrek<br>
                </span>
              </b>
              <span style="font-size:8pt;font-family:Arial,sans-serif">
                Founder<br></span>
                <b>
                  <span style="font-size:9pt;font-family:Arial,sans-serif"><br>
                    Right Rudder Marketing<br>
                  </span>
                </b>
              </font>
            <span style="font-size:8pt;font-family:Arial,sans-serif">
              <font color="#0b5394">
                629 Maple Valley Dr<br>
                Suite 2026<br>
                Farmington, MO 63640<br>
                1-314-358-2100
              </font><br>
              <a href="mailto:tim@rightruddermarketing.com" style="color:rgb(11,83,148)" target="_blank">
                tim@rightruddermarketing.com
              </a><br>
              <a href="https://rightruddermarketing.com" style="color:rgb(11,83,148)" target="_blank">
                https://rightruddermarketing.com
              </a>
            </span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
