<turbo-frame id="subscribers_list">
  <div class="mt-10 lg:ml-24">
    <h3 class="font-semibold text-xl">Subscribers</h3>
    <p class="text-sm mb-1"><%= ticket.subscribers.count %> people will be notified when someone comments on this squawk.</p>
    <ul class="flex gap-1">
      <% ticket.subscribers.each do |subscriber| %>
        <li>
          <% if subscriber.profile_image.attached? %>
            <%= image_tag subscriber.resized_profile_image, class: "size-8 rounded-full" %>
          <% else %>
            <svg class="size-8 rounded-full bg-gray-50" viewBox="0 0 24 24" fill="currentColor">
              <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
            </svg>
          <% end %>
        </li>
      <% end %>
    </ul>

    <% if ticket.subscribers.include?(current_user) %>
      <h3 class="font-semibold text-xl mt-5">You're subscribed</h3>
      <p class="text-sm mb-3">You'll get a notification when someone comments on this squawk.</p>
      <%= button_to "Unsubscribe", account_ticket_ticket_subscription_path(account, ticket, current_user.ticket_subscriptions.find_by(ticket: ticket)), method: :delete, class: "btn-neutral" %>
    <% else %>
      <h3 class="font-semibold text-xl mt-5">You're not subscribed</h3>
      <p class="text-sm mb-3">You won't be notified when comments are posted.</p>
      <%= button_to "Subscribe me", account_ticket_ticket_subscriptions_path(account, ticket), method: :post, class: "btn-neutral" %>
    <% end %>
  </div>
</turbo-frame>

