<div class="lg:pl-72">
  <div class="p-10">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Tasks</h1>
      <%= link_to 'New task', new_account_task_path(@account), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>

    <div id="tasks" class="min-w-full flex flex-col mt-10">
      <%= render @tasks %>
    </div>
  </div>
</div>
