<% title("Pay Per Click Ads (PPC) | Right Rudder Marketing") %>

<!--Set Page font size and limit sticky-->
<div class="text-lg">
  <%= render "shared/navbar"%>
  <section class="w-full bg-headsys2 bg-cover h-screen-1/2 lg:h-screen bg-center flex justify-center items-center">
    <div class="px-5 py-40 lg:py-52 flex flex-col justify-center items-center drop-shadow-2xl text-slate-100 w-full">
        <h2 class="font-bold lg:text-4xl text-center pb-10">Pay Per Click Ads PPC</h2>
        <%= link_to "SCHEDULE A CALL", schedule_call_path, class: "font-semibold bg-orange-500 hover:bg-orange-600 text-sm lg:text-lg transition-all duration-300 text-white rounded-lg text-center py-2 px-5 ml-8 mr-2" %>
    </div>
  </section>
</div>
<%= render "shared/cta1"%>
<%= render "shared/footer"%>