<% title("Website Design | Right Rudder Marketing") %>

<!--Set Page font size and limit sticky-->
<div class="text-lg">
  <%= render "shared/navbar"%>

  <!--Header Section-->
  <section class="grid place-items-center bg-gradient-to-r from-slate-100 to-blue-100">
    <div class="py-20 flex flex-col-reverse lg:flex-row-reverse">
      <!--Image-->
      <div class="grid place-items-center lg:w-1/2">
        <%= image_tag "programmer.webp", class: "px-10"%>
      </div>
      
      <!--Text-->
      <div class="px-5 lg:px-0 lg:w-1/2 flex flex-col items-center">
        <h1 class=" text-xl lg:text-3xl font-semibold text-center pb-5">Web design</h1>
        <h2 class="text-5xl font-bold text-center pb-5">More Than Just a Website</h2>
        <!--Bullet points-->
        <div class="flex flex-col">
          <div class="flex flex-row ">
            <div class="text-green-500 pr-2 font-extrabold">✓</div>
            <h3 class="pb-5 text-lg px-10 lg:text-xl text-left">Custom programmed content management system</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-green-500 pr-2 font-extrabold">✓</div>
            <h3 class="pb-5 text-lg px-10 lg:text-xl text-left">No WordPress themes or templates</h3>
          </div>
          <div class="flex flex-row ">
            <div class="text-green-500 pr-2 font-extrabold">✓</div>
            <h3 class="pb-5 text-lg px-10 lg:text-xl text-left">No WordPress themes or templates</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
<%= render "shared/cta1"%>
<%= render "shared/footer"%>