<%# Head / Meta Data %>
<% title("The Right Rudder Marketing Webinar Series") %>
<% meta_description("The Right Rudder Marketing Webinar Series is a series created to inspire flight schools to achieve optimal success in their businesses.") %>
<% meta_keywords("Right Rudder Marketing, Blog, aviation webinar, aviation marketing, aviation business marketing ideas") %>
<% og_image(image_url("rrm-notams-trans.webp")) %>
<% twitter_image(image_url("rrm-notams-trans.webp")) %>


<!--Set Page font size and limit sticky-->
<div class="text-lg bg-gradient-to-r from-slate-100 to-blue-100">
  <%= render "shared/navbar" %>
  <!--Header Section-->
  <section class="grid place-items-center">
    <div class="py-20 flex flex-col lg:flex-row-reverse lg:w-5/6">
      <!--Blog image-->
      <div class="grid place-items-center">
        <%= image_tag "webinartrans.webp", class: "w-3/4"%>
      </div>
      
      <!--Text about blog-->
      <div class="px-5 lg:px-0">
        <h1 class="text-5xl font-bold text-center pt-20 pb-5">Right Rudder Marketing Webinar Series</h1>
        <h2 class=" text-lg lg:text-2xl font-semibold text-center pb-5">Hosted by Tim Jedrek</h2>
        <p class="lg:pb-20 text-md px-10 lg:text-xl text-left">The Right Rudder Marketing Webinar Series is a series created to inspire flight schools to achieve optimal success in their businesses.</p>
      </div>
    </div>
  </section>


<%= render "shared/cta1" %>
<%= render "shared/footer" %>


