<div class="py-4">
  <h2 class="font-bold text-xl">Summary:</h2>
  <p class="font-normal">
    We are seeking a Ruby on Rails web developer to help with Right Rudder Marketing.
    Right Rudder Marketing is a leading digital marketing agency specializing in helping flight schools. The ideal candidate is a skilled and motivated Ruby on Rails Developer with good design esthetics and knowledge of SEO and copywriting. As a Ruby on Rails Developer, you will play a pivotal role in developing and maintaining our web applications and platforms, ensuring optimal performance and user experience. Our tech stack is RoR, Alpine JS, and Tailwind CSS.
  </p>
</div>

<div class="py-4">
  <p class="font-normal">
    To qualify, please send over a resume along with your GitHub link or your portfolio with live deployed examples of projects you have completed.
  </p>
</div>

<div class="py-4">
  <h2 class="font-bold text-xl">Responsibilities:</h2>
  <ul class="list-disc list-inside">
    <li class="font-normal">Meet daily and provide updates on progress of projects.</li>
    <li class="font-normal">Create SEO optimized websites for clients (flight school businesses). Must have good copywriting skills. Bonus if you have aviation experience and understand the pilot training process in the US.</li>
    <li class="font-normal">Work on project to develop user dashboard to view KPI (key performance indicators) in order to help client understand how many form submissions are occurring.</li>
    <li class="font-normal">Work on project to upgrade websites into a scheduler/maintenance/billing/CRM platform.</li>
    <li class="font-normal">Update websites for client needs.</li>
    <li class="font-normal">Manage deployment of client sites onto Ubuntu Server and update DNS settings to facilitate changes from host.</li>
    <li class="font-normal">Develop, maintain, and add features/pages to which may include additional landing pages, forms, and updates to layout for blog/webinars.</li>
  </ul>
</div>

<div class="py-4">
  <h2 class="font-bold text-xl">Requirements:</h2>
  <ul class="list-disc list-inside">
    <li class="font-normal">Proven experience as a Ruby on Rails Developer, with a strong portfolio of past projects.</li>
    <li class="font-normal">Proficiency in Ruby on Rails framework, including MVC architecture and conventions.</li>
    <li class="font-normal">Solid understanding of front-end development technologies, including Alpine JS and Tailwind.</li>
    <li class="font-normal">Experience with JavaScript, HTML, CSS, and related web technologies.</li>
    <li class="font-normal">Familiarity with database technologies such as MySQL or PostgreSQL.</li>
    <li class="font-normal">Knowledge of version control systems, preferably Git.</li>
    <li class="font-normal">Knowledge of DNS setting configuration.</li>
    <li class="font-normal">Proficient in using the command line to configure Ubuntu servers.</li>
    <li class="font-normal">Strong problem-solving skills and ability to troubleshoot and debug complex applications.</li>
    <li class="font-normal">Excellent teamwork and communication skills, with the ability to collaborate effectively with cross-functional teams.</li>
    <li class="font-normal">Strong attention to detail and commitment to writing clean, maintainable code.</li>
    <li class="font-normal">Ability to work independently and manage multiple projects simultaneously.</li>
    <li class="font-normal">Experience in the digital marketing industry or familiarity with flight schools is a plus.</li>
    <li class="font-normal">High-speed internet.</li>
  </ul>
</div>

<div class="py-4">
  <p class="font-normal">
    Joining Right Rudder Marketing as a Ruby on Rails Developer provides an exciting opportunity to work on innovative projects in the aviation industry while leveraging your expertise in Ruby on Rails, Alpine JS, and Tailwind. If you are passionate about web development, thrive in a collaborative environment, and enjoy solving complex problems, we would love to hear from you.
  </p>
  <p class="font-normal">
    You can check out the existing code for our own website and our clients in my Github @timjedrek under the ideal, simplifly, and right-rudder repositories.
  </p>
  <p class="font-normal">
    Please submit your resume, portfolio, and any relevant code samples demonstrating your Ruby on Rails, Alpine JS, Tailwind CSS, copywriting, and SEO skills.
  </p>
  <p class="font-normal">
    We're looking forward to connecting!
  </p>
</div>
