<section class="flex lg:flex-row flex-col-reverse bg-gradient-to-b from-blue-900 to-blue-950 text-slate-50">
    <div class="flex flex-col items-center justify-center lg:w-1/2 py-10 lg:py-0">
      <%= image_tag "pitcairn-logo-250-vertical-white.svg", alt: "Pitcairn Flight Logo", class: "w-3/4"%>
    </div>
    <div class="flex flex-col items-center justify-center lg:w-1/2 p-5">
      <h4 class="text-5xl font-semibold italic font-serif pt-10 lg:pt-0">CASE STUDY</h4>
      <p class="py-10 lg:mx-20">
        Introducing Pitcairn Flight Academy.  This is a flight school we just started working on a few months ago.
      </p>
      <h5 class="lg:mx-20 font-semibold text-xl italic">
        We helped Pitcairn Flight Academy rank on Google search and Maps driving more customers to call and start training at their school.
      </h5>
    </div>
  </section>
  <section class="flex flex-col items-center bg-gradient-to-b from-white to-blue-200">
    <div class="max-w-3xl px-5 pt-20 ">
      <h3 class="text-5xl font-bold italic text-center pb-10">The Challenge</h3>
      <p>
        When David and his team from Pitcairn Flight Academy gave Right Rudder Marketing a call, he needed help with establishing their flight school online.  
        As a relatively new flight school, they <em>had nothing</em> on the internet and knew they needed to do something to establish their online presence.
        With no website and no Google Business Profile established, his business would get phone calls asking if they were even in business and if they were a real flight school.  He relied solely on word of mouth and references to get business.
      </p>
      <h3 class="text-5xl font-bold italic text-center py-10">What We Did</h3>
      <p>
        The first thing we did was set out to create an <%= link_to "SEO optimized website", website_path, class: "text-blue-800 hover:underline"%>.  We met with David and his team to really understand what their flight school business was all about.
        We then did in depth research of their local area and created a list of target long tail keywords to incorporate on their website and GMB profile.
        After creating the website and deploying it, we went to work on off page SEO and Google Business Profile optimization.  We registered their business on Google and created their GMB profile.
      </p>
      <h3 class="text-5xl font-bold italic text-center py-10">The Results</h3>
      <p class="pb-10">
        After only one month of setting up the website and Google Business Profile, they are now ranking <b>number 1</b> in areas around their airport.  This is only after one month! 
        Coming from not having anything online, this is a significant boost to their credibility and positioning in the flight school market in their local area.
      </p>
      <p>
        After 3 months, they are now <b>dominating their local area</b> and expanding their online presence to neighboring towns and cities which is an impressive feat.
      </p>
      <div class="w-full flex flex-col items-center py-10">
        <%= image_tag "pitcairn-heat-map-before-after.webp", class: "", alt: "Heatmap showing Pitcairn's ranking around their airport"%>
        <p class="text-slate-600 italic text-base">
          Heatmap showing Pitcairn's ranking around their airport
        </p>
      </div>
      <p>
        While there's more work that needs to be done, after one month we already saw results.  They're ranking #1 in certain areas so now our next step is looking at the areas that aren't ranking well.  
        This includes adding new content to their site and incorporate those location based keywords, continually updating their GMB profile, and expanding their presence online.  
        SEO and ranking high on search is a long term game and multiple strategies need to be employed to rank high.
      </p>

      <!--Testimonial-->
      <div class="flex flex-col lg:flex-row py-10">
        <div class="lg:w-1/2 flex flex-col items-center">
          <%= image_tag "pitcairn-flight-marisa.webp", class: "rounded-full w-1/2 mb-10 lg:mb-0", alt: "Marisa "%>
        </div>
        <div class="lg:w-1/2">
          <p class="italic text-slate-800">
            "I love the team at Right Rudder Marketing.  The website they made for us is awesome and we're getting calls and students filling out our forms.  The team at Right Rudder Marketing is great!"
            <br><br>
            -Marisa, Operations Manager at Pitcairn Flight Academy
          </p>
        </div>
      </div>
    </div>
  </section>