<h1 class="hidden lg:block font-bold">Digital Internet Marketing for Flight Schools</h1>
<div class="flex flex-row items-center justify-center">
  <%= image_tag "phone.webp", alt: "phone icon", class: "h-4 object-cover invert pr-3"%>
  <div class="flex gap-5">
    <%= link_to "1-314-804-1200", "tel:1-314-804-1200" %>
    <%#= link_to "Log in", new_user_session_path %>
  </div>
</div>
