<%= link_to schedule_call_path do %>
  <header class=" bg-orange-500 text-white lg:hidden flex-row justify-between py-2 pl-5 pr-8">
    <div class="font-semibold text-md text-center grid place-items-center">
      Click to schedule a FREE call
    </div>
  </header>
<% end %> 