<h1 class="hidden lg:block font-bold">Aviation Business and Flight School Marketing</h1>
<div class="flex flex-row items-center justify-center">
  <%= image_tag "phone.webp", alt: "phone icon", class: "h-4 object-cover invert pr-3"%>
  <%= link_to "1-314-804-1200", "tel:1-314-804-1200" %>
</div>