<h1 class="hidden lg:block font-bold">Digital Internet Marketing for Flight Schools</h1>
<div class="flex flex-row items-center justify-center">
  <%= image_tag "phone.webp", alt: "phone icon", class: "h-4 object-cover invert pr-3"%>
  <%= link_to "1-314-358-2100", "tel:1-314-358-2100" %>
</div>