<%= turbo_frame_tag "frame1" do %>
  <!--Question-->
  <div class="pb-10">
    Unfortunately, your flight school does not qualify. Advertising is an investment to your business and is the foundation of Right Rudder Marketing's services.  Advertising comes many different forms and methods and you might already be advertising.  Having a website or posting on a social media profile can be a form of advertising.
    <br>
    <br>
    If you're ready start advertising to grow your flight school and attract more student pilots, click continue below.
    <br>
  </div>
  <!--buttons-->
  <div class="flex flex-row w-full justify-center gap-5">
    <%= link_to "Continue", quiz_question_three_path, class: "w-30 bg-blue-500 hover:bg-blue-600 text-white rounded-lg text-center py-2 px-5 transition-all duration-300" %>
  </div>
<% end %>