<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="min-w-0 flex-1">
      <a href="https://cl286.infusionsoft.com/app/form/customer-registration-form" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-center text-sm font-medium text-gray-900">New Customer Registration</p>
      </a>
    </div>
  </div>
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="min-w-0 flex-1">
      <a href="https://app.cleverwaiver.com/render/templateByRefId/60b7a438fda5c986515b8303" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-center text-sm font-medium text-gray-900">Policies and Liability Release</p>
      </a>
    </div>
  </div>
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="min-w-0 flex-1">
      <a href="https://app.cleverwaiver.com/render/templateByRefId/60b7e8a13ea2d09e6726b936" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-center text-sm font-medium text-gray-900">Student and Renter Agreement</p>
      </a>
    </div>
  </div>
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="min-w-0 flex-1">
      <a href="https://app.cleverwaiver.com/render/templateByRefId/60d13697e7afe498c044390a" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-center text-sm font-medium text-gray-900">Sim Lab Membership Sign-up</p>
      </a>
    </div>
  </div>
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="min-w-0 flex-1">
      <a href="https://www.avemco.com/products/renter?partner=ca24" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-center text-sm font-medium text-gray-900">Renter Insurance Application</p>
      </a>
    </div>
  </div>
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="min-w-0 flex-1">
      <a href="https://app.cleverwaiver.com/render/templateByRefId/63096bd26a2fe926a0a005bd" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-center text-sm font-medium text-gray-900">Meritize Student Agreement</p>
      </a>
    </div>
  </div>
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="min-w-0 flex-1">
      <a href="https://app.cleverwaiver.com/render/templateByRefId/63f3cc7511fc9f3dfebf5c78" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-center text-sm font-medium text-gray-900">Apartment Student Agreeent</p>
      </a>
    </div>
  </div>
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="min-w-0 flex-1">
      <a href="https://cl286.infusionsoft.com/app/form/feedback_quality_management_form" class="focus:outline-none">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-center text-sm font-medium text-gray-900">Quality Mgmt Feedback Form</p>
      </a>
    </div>
  </div>
</div>
