<%# Head / Meta Data %>
<% title("Our Core Values | Right Rudder Marketing") %>
<% meta_description("As the number one aviation marketing company in the world, our core values are the guiding principles of how we conduct our work and deliver world class results for our partner flight schools.") %>

<div class="text-lg">
  <%= render "shared/navbar" %>
  <section class="py-6 bg-gradient-to-br from-white lg:to-blue-200 to-blue-100">
		<div class="container p-4 mx-auto space-y-16 sm:p-10">
			<div class="space-y-4">
				<h2 class="text-2xl font-bold leadi sm:text-5xl">Our Core Values</h2>
				<p class="max-w-2xl italic text-slate-700 text-3xl font-serif">
          "Airspeed is life.  Altitude is insurance."
        </p>
        <p class="max-w-2xl ">
          Just like the aviation expression "Airspeed is life. Altitude is insurance" our business model follows the same principles.  For us <b>S.P.E.E.D.</b> is how we run our company and staying <b>H.I.G.H.</b> is how we remain in business long term.
        </p>
        <p class="max-w-2xl italic text-slate-700 text-3xl font-serif pt-12">
          S.P.E.E.D.
        </p>
        <p class="max-w-2xl ">
          <span class="text-2xl text-blue-800 font-bold">Strengthen</span> one another.  Our actions speak louder than words.  We treat our clients, our partners, our vendors, and our team with respect.  We strengthen one another through our teamwork and collaboration. We…
        </p>
        <p class="max-w-2xl ">
          <span class="text-2xl text-blue-800 font-bold">Position</span> our flight schools partners for positive growth.  We prioritize our actions by their impactfulness. We…
        </p>
        <p class="max-w-2xl ">
          <span class="text-2xl text-blue-800 font-bold">Expect</span> nothing but the best from one another.  We set clear expectations of our needs and our goals. We…
        </p>
        <p class="max-w-2xl ">
          <span class="text-2xl text-blue-800 font-bold">Exude</span> expertise.  We continuously improve and are experts in our trade.  We commit to consistent training in order for us to…
        </p>
        <p class="max-w-2xl ">
          <span class="text-2xl text-blue-800 font-bold">Deliver</span> world class results.
        </p>
        <p class="max-w-2xl italic text-slate-700 text-3xl font-serif pt-12">
          H.I.G.H.
        </p>
        <p class="max-w-2xl ">
          <span class="text-2xl text-blue-800 font-bold">Help</span> aviation businesses.  The more aviation businesses we partner with to help grow and scale their businesses, Right Rudder Marketing in tandem also grows and scales and climbs in altitude and reach. Our clients are the utmost priority and we need to make sure that we …
        </p>
        <p class="max-w-2xl ">
          <span class="text-2xl text-blue-800 font-bold">Implement</span> the best systems and processes.  We continually research new trends and changes in the marketplace.  We innovate our systems and procedures to always give our customers the best results.  Through our successes, we…
        </p>
        <p class="max-w-2xl ">
          <span class="text-2xl text-blue-800 font-bold">Give back</span> to the aviation community.  We always give more than what we receive in return to serve our customers, our customer's customers, and our partners.  That way everyone in our immediate circles can…
        </p>
        <p class="max-w-2xl ">
          <span class="text-2xl text-blue-800 font-bold">Have fun</span>.  Aviation is an industry of love.  People choose to become aviators due to their passions and love of flight.  We always have fun doing what we do because we love what we do.  We love seeing more people flying and achieving their goals.
        </p>        
        <div class="pt-10">
        <%= link_to "CONTACT US", contact_path, data: {turbo: false}, class: "font-semibold bg-orange-500 hover:bg-orange-600 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-white rounded-lg text-center py-2 px-5 mr-2" %>
        </div>
			</div>
    </div>
  </section>


</div>
<!--CTA-->
<%= render "shared/cta1"%>
<!--Footer-->
<%= render "shared/footer"%>