<div class="">
<%= render "shared/navbar" %>
<section class="bg-slate-100">
  <div class="flex flex-col lg:flex-row lg:items-center pt-10">
    <!--Text Section-->
    <div class="lg:w-1/2 flex flex-col justify-center items-center pb-10">
      <p class="hidden lg:block text-3xl text-center">Become the Best Flight School<br> in your area with</p>
      <p class="lg:hidden text-3xl text-center">Become the Best<br> Flight School <br> in your area with</p>
      <h2 class="font-bold text-5xl pt-5 text-center">The <span class="text-blue-700">#1 Flight School</span></h2>
      <h2 class="font-bold text-5xl text-center">Marketing Agency</h2>
      <p class="w-3/5 pt-5">
      Are you tired of other schools taking your students? Does your "marketing company" seem out of touch with the general aviation industry?
      </p>
      <p class="w-3/5 pt-5">
      Right Rudder Marketing is the leader in helping <b>ONLY flight schools</b> leverage the internet and use well executed marketing strategies to take their business out of the clouds and into VFR.
      </p>
    </div>
    <!--video section-->
    <div class="lg:w-1/2">
      <div class="grid place-items-center">
        <iframe class="lg:w-4/5 w-full aspect-video" height="350" src="https://www.youtube.com/embed/z4tsBrxaNXI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  
  </div>
</section>
<section class="flex flex-col items-center pb-10">
  <div class="w-4/5 lg:w-3/5 pt-10 flex flex-col items-center">
    <h3 class="font-bold text-center text-3xl">
      Discover how to increase your sales and grow your school with our Flight School Marketing System 
    </h3>
    <p class="text-2xl py-10 lg:w-3/5 w-4/5 text-center">
      We're here to implement our tested strategies to take your flight school to the next level. There's a lot of so called “marketing experts” out there, but they don't know the aviation industry like we do.  <br> They're not pilots.
    </p>
    <p class="font-semibold text-xl lg:w-3/5 w-4/5 text-center">
      Our mission is to help you become the preferred flight school in your local area.  Increase your flight school's revenue.  Train the next generation of pilots.
    </p>
  </div>
</section>

<!--Future section for testimonials (what our clients think about us)-->
<!--Future section for book-->


