<div class="">
<%= render "shared/navbar" %>
<div class="bg-slate-100 h-screen">
  <div class="flex flex-col lg:flex-row pt-10">
    <!--Text Section-->
    <div class="lg:w-1/2 flex flex-col justify-center items-center">
      <p class="text-3xl text-center">Become the Best Flight School<br> in your area with</p>
      <h2 class="font-bold text-5xl pt-5">The <span class="text-blue-600">#1 Flight School</span></h2>
      <h2 class="font-bold text-5xl">Marketing Agency</h2>
    </div>
    <!--video section-->
    <div class="lg:w-1/2">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/z4tsBrxaNXI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  
  </div>
</div>

