<%# Head / Meta Data %>
<% title("Investors | Right Rudder Marketing") %>
<% meta_description("Be a part of the growth.  We're taking over the aviation marketing world.  Invest in Right Rudder Marketing.") %>

<div class="text-lg">
  <%= render "shared/navbar" %>
  <section class="py-6 bg-gradient-to-br from-white lg:to-blue-200 to-blue-100">
		<div class="container p-4 mx-auto space-y-16 sm:p-10">
			<div class="space-y-4">
				<h2 class="text-2xl font-bold leadi sm:text-5xl">Investors</h2>
        <p class="max-w-2xl ">
          Right Rudder Marketing is on track to become a multi-million dollar digital marketing agency.  If you want to be a part of the action, contact us and let's start a conversation.
        </p>
        
        <div class="pt-10">
        <%= link_to "CONTACT US", contact_path, class: "font-semibold bg-orange-500 hover:bg-orange-600 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-white rounded-lg text-center py-2 px-5 mr-2" %>
        </div>
			</div>
    </div>
  </section>


</div>
<!--CTA-->
<%= render "shared/cta1"%>
<!--Footer-->
<%= render "shared/footer"%>