<%# Head / Meta Data %>
<% title("Our Mission and Vision | Right Rudder Marketing") %>
<% meta_description("Our mission is to help 100 flight schools double their student body and dominate their service area by 2025.") %>

<div class="text-lg">
  <%= render "shared/navbar" %>
  <section class="py-6 bg-gradient-to-br from-white lg:to-blue-200 to-blue-100">
		<div class="container p-4 mx-auto space-y-16 sm:p-10">
			<div class="space-y-4">
				<h2 class="text-2xl font-bold leadi sm:text-5xl">Our Mission</h2>
				<p class="max-w-2xl ">
          Our mission is to impact the aviation training industry and bring more people into aviation.  Right Rudder Marketing aims to lower the cost of participating in aviation by increasing the supply of pilots which provides increased demand for aviation companies to operate at economies of scale.
        </p>
        <p class="max-w-2xl ">
          Our mission is to facilitate the progress of our society into a new age where all humans are given the opportunities to be equipped with aviation skills to travel faster and farther in the skies.
        </p>
        <p class="max-w-2xl ">
          Our mission is to help 100 flight schools double their student body and dominate their service area by 2025.
        </p>
        <h2 class="text-2xl font-bold leadi sm:text-5xl">Our Vision</h2>
				<p class="max-w-2xl ">
          Right Rudder Marketing is THE solution for running a successful flight school business.  Right Rudder Marketing provides the technology and systems to generate new business, manage student progress, and operate business effectively.
        </p>
        <p class="max-w-2xl ">
          Right Rudder Marketing is the catalyst for pilot training academies across the globe.  Any flight school that partners with Right Rudder Marketing shall be the dominant force in their local area and become THE flight school where people choose to become a pilot.
        </p>
        <p class="max-w-2xl ">
          Right Rudder Marketing is changing the world through our work with the flight training industry.  Right Rudder Marketing is developing and creating more pilots and moving society forward into the space age. 
        </p>
        <div class="pt-10">
        <%= link_to "CONTACT US", contact_path, data: {turbo: false}, class: "font-semibold bg-orange-500 hover:bg-orange-600 hover:scale-105 text-sm lg:text-2xl transition-all duration-300 text-white rounded-lg text-center py-2 px-5 mr-2" %>
        </div>
			</div>
    </div>
  </section>


</div>
<!--CTA-->
<%= render "shared/cta1"%>
<!--Footer-->
<%= render "shared/footer"%>