<%# Head / Meta Data %>
<% title("Growth Accelerator Session | Right Rudder Marketing") %>
<% meta_description("Book a growth accelerator call for your flight school today.  We'll go over your flight school, your local area and the competition and then identify ways to really accelerate the number of student pilots coming to your school.") %>
<% meta_keywords("Grow flight school business, grow aviation business, marketing for flight schools, marketing for aviation business, business ideas for aviation, business ideas for flight schools, how to market to younger generation pilots flight school") %>
<%# use default og/twitter images (rrm logo with black background) %>

<header class="bg-slate-900 text-slate-200 py-10 lg:py-20 ">
  <div class=" text-3xl lg:text-4xl text-center">
    Are you ready to take your <b>Flight School</b> to the <b>Next Level</b>?
  </div>
  <div class="text-2xl lg:text-3xl text-center pt-10">
    Book a <span class="text-orange-500 underline font-bold ">FREE</span> flight school <span class="text-orange-500 underline font-bold ">growth accelerator session</span> below!
  </div>
</header>

<section class="">
  <div class="flex flex-col lg:flex-row lg:items-start">

    <!--Youtube Video-->
    <div class="lg:w-1/2 lg:py-20">
      <div class="grid place-items-center">
        <iframe
          class="lg:w-4/5 w-full aspect-video" loading="lazy" height="315"
          src="https://tube.rvere.com/embed?v=3KSu_gNW63M"
          title="YouTube video player"
          frameBorder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowFullScreen>
        </iframe>
      </div>
    </div>
    <!-- Calendly inline widget begin -->
    <div class="lg:w-1/2 flex flex-row justify-center lg:py-20 lg:px-10">
      <div class="lg:w-4/5">
        <iframe src="https://msg.flightschoolcrm.com/widget/booking/UsFmB7RVJOH9u8PnqAoQ" style="width: 100%;border:none;overflow: hidden;" scrolling="no" id="UsFmB7RVJOH9u8PnqAoQ_1708416759290"></iframe><br><script src="https://msg.flightschoolcrm.com/js/form_embed.js" type="text/javascript"></script>
      </div>
    </div>
    <!-- Calendly inline widget end -->
  </div>
</section>

<%= render "shared/copyright_social_footer"%>