<!--Set Page font size and limit sticky-->
<div class="text-lg">
  <%= render "shared/navbar"%>
  <section class="h-screen">
  hello world
  </section>
</div>
<%= render "shared/cta1"%>
<section></section>
<%= render "shared/footer"%>