<% title("Privacy Policy Terms of Service | Flight School CRM") %>

<header class="bg-slate-900 text-slate-200 py-10 lg:py-20 ">
  <div class=" text-3xl lg:text-4xl text-center">
    <h1>Privacy Policy of Flight School CRM</h1>
  </div>
</header>
<section class="flex flex-col items-center">
  <div class="w-4/5 lg:w-3/5 py-10">
    <h2 class="font-bold text-xl">Introduction</h2>
    <p class="pb-5">
      Right Rudder Marketing LLC operates the <%= link_to root_path, class: "hover:underline" do%>https://flightschoolcrm.com<%end%> website, which is a marketing agency with an address in Farmington, MO.
    </p>
    <p class="pb-5">
      This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service, the Flight School CRM website.
    </p>
    <p class="pb-5">
      If you choose to use our Service, then you agree to the collection and use of information in relation with this policy. The Personal Information that we collect are used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.
    </p>
    <p class="pb-5">
      The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible below, unless otherwise defined in this Privacy Policy.
    </p>

    <h2 class="font-bold text-xl">Information Collection and Use</h2>
    <p class="pb-5">
      For a better experience, while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to your name, email, phone number, and postal address. The information that we collect will be used to contact or identify you.
    </p>

    <h2 class="font-bold text-xl">Log Data</h2>
    <p class="pb-5">
      We want to inform you that whenever you visit our Service, we collect information that your browser sends to us that is called Log Data. This Log Data may include information such as your computer's Internet Protocol (“IP”) address, browser version, pages of our Service that you visit, the time and date of your visit, the time spent on those pages, and other statistics.
    </p>

    <h2 class="font-bold text-xl">Cookies</h2>
    <p class="pb-5">
      Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer's hard drive.
    </p>
    <p class="pb-5">
      Our website uses these “cookies” to collection information and to improve our Service. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our Service.
    </p>
    <p class="pb-5">
      For more general information on cookies, please read <%=link_to "https://www.privacypolicyonline.com/what-are-cookies/", class: "hover:underline" do%>“What Are Cookies”<%end%>.
    </p>

    <h2 class="font-bold text-xl">Service Providers</h2>
    <p class="pb-5">
      We may employ third-party companies and individuals due to the following reasons: To facilitate our Service, to provide the Service on our behalf, to perform Service-related services, or to assist us in analyzing how our Service is used.
    </p>
    <p class="pb-5">
      We want to inform our Service users that these third parties may have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.
    </p>

    <h2 class="font-bold text-xl">Security</h2>
    <p class="pb-5">
      We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
    </p>

    <h2 class="font-bold text-xl">Links to Other Sites</h2>
    <p class="pb-5">
      Our Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
    </p>

    <h2 class="font-bold text-xl">Children's Privacy</h2>
    <p class="pb-5">
      Our Services do not address anyone under the age of 13. We do not knowingly collect personal identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.
    </p>

    <h2 class="font-bold text-xl">Changes to This Privacy Policy</h2>
    <p class="pb-5">
      We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.
    </p>
    
    <h2 class="font-bold text-xl">Contact Us</h2>
    <p class="pb-5">
      If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.
    </p>
  </div>
</section>


<header class="bg-slate-900 text-slate-200 py-10 lg:py-20 ">
  <div class=" text-3xl lg:text-4xl text-center">
    <h1>Terms of Service of Flight School CRM Website</h1>
  </div>
</header>
<section class="flex flex-col items-center">
  <div class="w-4/5 lg:w-3/5 py-10">
    <h2 class="font-bold text-xl">Terms</h2>
    <p class="pb-5">
      By accessing this website, accessible from <%= link_to root_path, class: "hover:underline" do%>https://flightschoolcrm.com<%end%>, you are agreeing to be bound by the Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.
    </p>

    <h2 class="font-bold text-xl">Use License</h2>
    <p class="pb-5">
      Permission is granted to temporarily download one copy of the materials on Flight School CRM Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not: modify or copy the materials, use the materials for any commercial purpose or for any public display, attempt to reverse engineer any software contained on Flight School CRM Website, remove any copyright or other proprietary notations from the materials, or transfer the materials to another person or “mirror” the materials on any other server.
    </p>
    <p class="pb-5">
      This will let Flight School CRM to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.
    </p>

    <h2 class="font-bold text-xl">Disclaimer</h2>
    <p class="pb-5">
      All the materials on Flight School CRM Website are provided “as is”. Right Rudder Marketing LLC makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, Flight School CRM does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.
    </p>

    <h2 class="font-bold text-xl">Limitations</h2>
    <p class="pb-5">
      Flight School CRM or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on Flight School CRM Website, even if Flight School CRM or an authorized representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.
    </p>

    <h2 class="font-bold text-xl">Revisions and Errata</h2>
    <p class="pb-5">
      The materials appearing on Flight School CRM Website may include technical, typographical, or photographic errors. Flight School CRM will not promise that any of the materials in this Website are accurate, complete, or current. Flight School CRM may change the materials contained on its Website at any time without notice. Flight School CRM does not make any commitment to update the materials.
    </p>

    <h2 class="font-bold text-xl">Links</h2>
    <p class="pb-5">
      Flight School CRM has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by Flight School CRM of the site. The use of any linked website is at the user's own risk.
    </p>

    <h2 class="font-bold text-xl">Site Terms of Use Modifications</h2>
    <p class="pb-5">
      Flight School CRM may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.
    </p>

    <h2 class="font-bold text-xl">Your Privacy</h2>
    <p class="pb-5">
      Please read our Privacy Policy.
    </p>

    <h2 class="font-bold text-xl">Governing Law</h2>
    <p class="pb-5">
      Any claim related to Flight School CRM Website shall be governed by the laws of us without regards to its conflict of law provisions.
    </p>
    
    <h2 class="font-bold text-xl">Contact Us</h2>
    <p class="pb-5">
      If you have any questions or suggestions about our Terms of Service, do not hesitate to contact us.
    </p>
  </div>
</section>
<div class="px-10">
  <%= render "shared/footer_bottom"%>
</div>