<div id="comments">
  <%= render ticket.comments.includes(:user, :rich_text_content).order(created_at: :asc) %>
</div>

<hr/>

<div class="flex flex-col lg:flex-row lg:gap-5 py-4">
  <div class="flex justify-end gap-2 lg:flex-1 lg:min-w-28">
    <% if current_user.profile_image.attached?  %>
      <%= image_tag current_user.resized_profile_image, class: "hidden lg:block size-14 rounded-full" %>
    <% else %>
      <svg class="size-14 rounded-full bg-gray-50" viewBox="0 0 24 24" fill="currentColor">
        <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
      </svg>
    <% end %>
  </div>
  <div class="lg:flex-[4_4_0]">
    <%= turbo_frame_tag "new_comment" do %>
      <%= link_to "Add a comment here...", new_account_ticket_comment_path(account, ticket), class: "text-gray-500 w-full h-20 cursor-pointer block" %>
    <% end %>
  </div>
</div>
