<div class="" x-data="{}">
<%= render "shared/navbar" %>
<main>
  <header class="w-full h-screen-2/3 bg-cover bg-center flex justify-center items-center">
      <div class="flex flex-col justify-center items-center mx-20 opacity-0 duration-[1000ms] scale-x-0"
      x-intersect="$el.classList.add('opacity-100', 'scale-x-100', 'z-0')"
      >
        <h1 class=" text-center text-4xl sm:text-5xl font-bold">
          500 Error<br>
        </h1>
        <p class="text-center py-3">
        We are unable to process your request.
        </p>
        <%= link_to 'Return Home', root_path, class: "text-center block p-3 px-6 bg-blue-200 rounded-lg hover:bg-blue-300 " %>
      </div>
  </header>
</main>
<%= render "shared/footer" %>
</div>