<h1>Right Rudder Marketing</h1>

<p>
  Hi <%= @name %>,
</p>

<p>
  Thanks for joining our email list. You'll be the first to hear about Right Rudder Marketing news and the latest updates.
</p>

<p>
  Right Rudder Marketing is the leader in helping ONLY flight schools leverage the internet and use well-executed marketing strategies to take their business out of the clouds and into VFR.
</p>

<p>
  Warm regards,
</p>

<p>
<strong>Tim Jedrek</strong><br>
Founder, Right Rudder Marketing
</p>

<address>
  629 Maple Valley Dr, Suite 2026,<br>
  Farmington, MO 63640<br>
  Phone: 1-314-358-2100<br>
  Email: <a href="mailto:tim@rightruddermarketing.com">tim@rightruddermarketing.com</a><br>
  Website: <a href="https://rightruddermarketing.com">https://rightruddermarketing.com</a>
</address>
