<div style="font-size:12pt;font-family:Arial,sans-serif">
  <p>
    Hi <%= @name %>,
  </p>

  <p>
    Thanks for joining our email list. You'll be the first to hear about Right Rudder Marketing news and the latest updates.
  </p>

  <p>
    Right Rudder Marketing is the leader in helping ONLY flight schools leverage the internet and use well executed marketing strategies to grow flight school businesses.
  </p>
  <p>
    We'll reach out in a few moments to see how you're doing and if you're interested in scheduling a growth accelerator session with Right Rudder.  This is where we'd go over what your digital marketing looks like today, what your competition is doing, and a strategy specifically tailored for your flight school business.
  </p>

  <p>
    The session is absolutely risk free and no cost.  Even flight schools that don't end up using Right Rudder find the session to be very beneficial.
  </p>

  <p>
    Looking forward to talking with you, <%= @name %>.
  </p>

</div>
<!--Sig-->
<div>
  <br style="color:rgb(34,34,34)">
  <br style="color:rgb(34,34,34)">
  <table border="0" cellspacing="0" cellpadding="0" style="color:rgb(34,34,34);border-collapse:collapse">
    <tbody>
      <tr>
        <td width="145" style="width:108.75pt;padding:0.75pt">
          &nbsp; &nbsp; &nbsp; &nbsp;
          <img width="80" height="96" src="/images/rightruddermarketinglogosolo.png" >
        </td>
        <td width="22" style="width:16.5pt;padding:0.75pt">
        </td>
        <td width="201" style="width:150.95pt;padding:0.75pt">
          <p class="" style="margin-bottom:7.5pt;line-height:10.5pt">
            <font color="#0b5394">
              <b>
                <span style="font-size:9pt;font-family:Arial,sans-serif">
                  Tim Jedrek<br>
                </span>
              </b>
              <span style="font-size:8pt;font-family:Arial,sans-serif">
                Founder<br></span>
                <b>
                  <span style="font-size:9pt;font-family:Arial,sans-serif"><br>
                    Right Rudder Marketing<br>
                  </span>
                </b>
              </font>
            <span style="font-size:8pt;font-family:Arial,sans-serif">
              <font color="#0b5394">
                629 Maple Valley Dr<br>
                Suite 2026<br>
                Farmington, MO 63640<br>
                1-314-358-2100
              </font><br>
              <a href="mailto:tim@rightruddermarketing.com" style="color:rgb(11,83,148)" target="_blank">
                tim@rightruddermarketing.com
              </a><br>
              <a href="https://rightruddermarketing.com" style="color:rgb(11,83,148)" target="_blank">
                https://rightruddermarketing.com
              </a>
            </span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

