@tailwind base;
@tailwind components;
@tailwind utilities;

/*To escape tailwind for tinymce and fix link tag.. I had to convert the code from scss to css lol*/
/*https://stackoverflow.com/questions/66180213/how-to-prevent-css-libraries-like-tailwindcss-and-bootstrap-to-effect-wysiwyg-ed*/
/*https://gist.github.com/sw-yx/28c25962485101ca291ec1947b9d0b3e*/
@layer base {
  .no-tailwindcss-base h1,
  .no-tailwindcss-base h2,
  .no-tailwindcss-base h3,
  .no-tailwindcss-base h4,
  .no-tailwindcss-base h5,
  .no-tailwindcss-base h6 {
    font-size: revert;
    font-weight: revert;
  }
  .no-tailwindcss-base ol,
  .no-tailwindcss-base ul {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
  .no-tailwindcss-base a {
    @apply text-blue-700 underline;
  }
}

@layer components {
  .p-text {
    /*@apply font-paragraph text-lg;*/
  }

  .btn-primary {
    @apply font-sans font-semibold bg-blue-500 hover:bg-blue-600 hover:scale-105 text-xl lg:text-2xl transition-all duration-300 text-white rounded-lg text-center py-2 px-5;
  }

  .btn-neutral {
    @apply border border-gray-400 rounded-full text-center py-1 px-3 text-sm;
  }
}
/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
@import "actiontext.css";

.trix-content .attachment-gallery > action-text-attachment,
.trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content
  .attachment-gallery.attachment-gallery--2
  > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > .attachment,
.trix-content
  .attachment-gallery.attachment-gallery--4
  > action-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

.trix-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 6px;
}

.trix-content,
trix-editor {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  p,
  blockquote,
  pre,
  a {
    all: unset; /* Resets all inheritable and non-inheritable properties */
    all: revert; /* Reverts properties to their default values */
  }

  blockquote {
    border-inline-start: 3px solid black;
    padding-left: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  pre {
    padding: 1rem;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin: 1rem 0;
    overflow-x: auto;
  }
}
