<% title("Terms of Service | Right Rudder Marketing") %>

<header class="bg-slate-900 text-slate-200 py-10 lg:py-20 ">
  <div class=" text-3xl lg:text-4xl text-center">
    <h1>Terms of Service of Right Rudder Marketing Website</h1>
  </div>
</header>
<section class="flex flex-col items-center">
  <div class="w-4/5 lg:w-3/5 py-10">
    <h2 class="font-bold text-xl">Terms</h2>
    <p class="pb-5">
      By accessing this website, accessible from <%= link_to root_path, class: "hover:underline" do%>https://rightruddermarketing.com<%end%>, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.
    </p>

    <h2 class="font-bold text-xl">Use License</h2>
    <p class="pb-5">
      Permission is granted to temporarily download one copy of the materials on Right Rudder Marketing Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not: modify or copy the materials, use the materials for any commercial purpose or for any public display, attempt to reverse engineer any software contained on Right Rudder Marketing Website, remove any copyright or other proprietary notations from the materials, or transfer the materials to another person or “mirror” the materials on any other server.
    </p>
    <p class="pb-5">
      This will let Right Rudder Marketing to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.
    </p>

    <h2 class="font-bold text-xl">Disclaimer</h2>
    <p class="pb-5">
      All the materials on Right Rudder Marketing Website are provided “as is”. Right Rudder Marketing LLC makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, Right Rudder Marketing does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.
    </p>

    <h2 class="font-bold text-xl">Limitations</h2>
    <p class="pb-5">
      Right Rudder Marketing or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on Right Rudder Marketing Website, even if Right Rudder Markering or an authorized representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.
    </p>

    <h2 class="font-bold text-xl">Revisions and Errata</h2>
    <p class="pb-5">
      The materials appearing on Right Rudder Marketing Website may include technical, typographical, or photographic errors. Right Rudder Marketing will not promise that any of the materials in this Website are accurate, complete, or current. Right Rudder Marketing may change the materials contained on its Website at any time without notice. Right Rudder Marketing does not make any commitment to update the materials.
    </p>

    <h2 class="font-bold text-xl">Links</h2>
    <p class="pb-5">
      Right Rudder Marketing has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by Right Rudder Marketing of the site. The use of any linked website is at the user's own risk.
    </p>

    <h2 class="font-bold text-xl">Site Terms of Use Modifications</h2>
    <p class="pb-5">
      Right Rudder Marketing may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.
    </p>

    <h2 class="font-bold text-xl">Your Privacy</h2>
    <p class="pb-5">
      Please read our <%= link_to privacy_policy_path, class: "hover:underline" do%>Privacy Policy<%end%>.
    </p>

    <h2 class="font-bold text-xl">Governing Law</h2>
    <p class="pb-5">
      Any claim related to Right Rudder Marketing Website shall be governed by the laws of us without regards to its conflict of law provisions.
    </p>
    
    <h2 class="font-bold text-xl">Contact Us</h2>
    <p class="pb-5">
      If you have any questions or suggestions about our Terms of Service, do not hesitate to contact us.
    </p>
  </div>
</section>
<%= render "shared/copyright_social_footer"%>