<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.015em;
        line-height: 1.375;
      }

      .box {
        max-width: 750px;
        text-align: center;
        position: relative;
        padding: 36px 24px;
        border-radius: 16px;
        border: 0.5px solid #eaeaea;
        background-color: #eaeaea;
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: 32px;
        box-shadow: 0px 4px 24px rgba(179, 187, 197, 0.15);
      }

      .button {
        display: inline-block;
        font-size: 1rem;
        font-weight: 600;
        padding: 12px 30px;
        line-height: 1.67;
        background-color: blue;
        border: 1px solid blue;
        border-radius: 10px;
        box-shadow: 0 .1rem .1rem transparent;
        color: #fff;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        margin-top: 2rem;
      }

      .comment {
        text-align: left;
        margin-top: 24px;
        padding: 24px;
        border-radius: 16px;
        border: 0.5px solid #EEF1F3;
        background-color: white;
        box-sizing: border-box;
        box-shadow: 0px 4px 24px rgba(179, 187, 197, 0.15);
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
