<div class="lg:pl-72 ">
  <div class="mx-auto w-full p-5">
    <h1 class="font-bold text-4xl mb-10">Onboarding</h1>

    <%= link_to "Business Information", edit_account_path(@account), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium w-fit" %>

    <%= link_to 'Primary Contact Information', new_account_onboarding_path(@account), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium w-fit mt-5" %>
  </div>
</div>
