<div class="lg:pl-72 ">
  <div class="mx-auto md:w-2/3 w-full flex p-10">
    <div class="mx-auto">
      <% if notice.present? %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>

      <h1 class="text-3xl font-semibold"><%= @account.name %> Dashboard</h1>

      <%= link_to 'Edit this account', edit_account_path(@account), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </div>
</div>
